<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <title>XML Helper</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- jQuery library -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	  <!-- Latest compiled JavaScript -->
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <style>
        .mytext {
          font-size: 13pt;
          font-wieght: bold;
        }
        .mytext_this {
          font-size: 15pt;
          font-wieght: bold;
        }
      </style>
	
	</head>

	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="#">Logo</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">About</a></li>
		        <li><a href="contact.html">Contact</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
  
		<div class="container-fluid text-center">    
		  <div class="row content">
		    <div class="col-sm-2 sidenav">
		      <p class="mytext"><a href="xpath.html">XPath</a></p>
		      <p class="mytext"><a href="#">XQuery</a></p>
		      <p class="mytext"><a href="#">XSLT</a></p>
		    </div>
		    <div class="col-sm-8 text-left"> 
		      <h1>XML Helper</h1>
		      <p>Hello! Welcome to "Xml Helper" Web Application!
              You can use it for much more easy work with XML-technologies.</p>
                <br><p><h4>So, what's XML technologies?</h4></p>
                <br><p>Extensible Markup Language <b>(XML)</b> is a markup language that defines a set of rules for
                    encoding documents in a format which is both human-readable and machine-readable.</p>
                <p><b>XPath</b>, the XML Path Language, is a query language for selecting nodes from an XML document.
                In addition, XPath may be used to compute values (e.g., strings, numbers, or Boolean values)
                from the content of an XML document.</p>
                <p><b>XQuery</b> is a query and functional programming language that queries and transforms
                collections of structured and unstructured data, usually in the form of XML, text and with vendor-
                specific extensions for other data formats (JSON, binary, etc). </p>
                <p><b>XSLT</b> (Extensible Stylesheet Language Transformations) is a language for transforming
                XML documents into other XML documents, or other formats such as HTML for web pages, plain text or
                into XSL Formatting Objects, which may subsequently be converted to other formats, such as PDF,
                PostScript and PNG.</p>
		      <hr>


		    </div>
		    <div class="col-sm-2 sidenav">
		      <div class="well">
		        <p><a href="http://www.w3schools.com/html/">Learn HTML with w3schools!</a></p>
		      </div>
		      <div class="well">
		        <p><a href="http://www.w3schools.com/xml/">Learn HTML with w3schools!</a></p>
		      </div>
              <div class="well">
		        <p><a href="http://www.w3schools.com/xsl/">Learn HTML with w3schools!</a></p>
		      </div>
              <div class="well">
		        <p><a href="http://www.w3schools.com/bootstrap/">Learn HTML with w3schools!</a></p>
		      </div>

		    </div>
		  </div>
		</div>

		<footer class="container-fluid text-center">
		  <p>"Xml Helper" Web Application</p>
		</footer>

	</body>
</html>
